.quiz-answers {
    display: flex;
    gap: 15px;
}

.answer-button {
    color:#293264;
    background: #F5F7FB;
    height: 21px;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    /*
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    */
}

.answer-selected {
    background: #D6DBF5;
    border: none;
}